body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark,
.light,
.grey {
  padding: 24px 200px 24px 200px;
}

.container img {
  display: flex;
  width: 300px;
  margin-bottom: 36px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.title {
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #f9faf8;
}

ul {
  display: flex;
  margin-top: 0px;
  gap: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dark,
.footer {
  background-color: #1f2937;
}

.emphasised {
  color: #f9faf8;
  font-size: 48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  margin-bottom: 8px;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.container {
  display: flex;
  align-items: flex-start;
}

.inner-container {
  flex-direction: column;
  margin-right: 200px;
}

button {
  align-self: flex-start;
  color: #e5e7eb;
  background-color: #3882f6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 6px 32px 6px 32px;
  margin: 16px;
  margin-left: 0px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: #e5e7eb;
  font-size: small;
  padding: 24px;
}

.light {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  color: #1f2937;
  margin: 48px;
}

.boxes {
  display: flex;
  align-items: baseline;
  padding-bottom: 80px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  display: flex;
  max-width: 200px;
  border-style: solid;
  border-color: #3882f6;
  border-width: 3px;
  border-radius: 8px;
}

.box .subtext {
  color: #556275;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  margin: 12px;
}

.grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 100;
  padding: 100px;
  padding-bottom: 20px;
}

.quotee {
  align-self: flex-end;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-bottom: 100px;
  padding-right: 100px;
}

.calltoaction {
  display: flex;
  background-color: #3882f6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 200px 100px 200px;
  padding: 64px;
  border-radius: 8px;
}

.calltoaction button {
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 2px;
}

.inner-container {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: #f9faf8;
}
