.body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: flex;
  min-width: 300px;
  padding-bottom: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.title {
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #f9faf8;
}

ul {
  display: flex;
  margin-top: 0px;
  gap: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dark {
  background-color: #1f2937;
  padding: 24px 156px 24px 156px;
}

.emphasised {
  color: #f9faf8;
  font-size: 48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  margin-bottom: 8px;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.container {
  display: flex;
  align-items: flex-start;
}

.inner-container {
  flex-direction: column;
  margin-right: 200px;
}

button {
  color: #e5e7eb;
  background-color: #3882f6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 6px 32px 6px 32px;
  margin: 16px;
  margin-left: 0px;
  border-radius: 8px;
  border-width: 0px;
}
